<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hdlitest.mybatis_plus.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.hdlitest.mybatis_plus.entity.Role">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_cd" property="roleCd" />
        <result column="remark" property="remark" />
        <result column="created_user_id" property="createdUserId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, role_cd, remark, created_user_id, created_time, updated_time
    </sql>

</mapper>
